{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="welcome-message">
            Bienvenue sur mon Application !
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Entrer">
        </form>
    </div>
</body>
</html>

